.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12vh;
    gap: .6rem;
    margin-top: 2rem;
    margin-bottom: 7rem;
}

.footer__social-links {
    display: flex;
    gap: .7rem;
}

.footer__social-links>span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000069;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.footer__social-links>span>a {
    margin-top: .5rem;
    font-size: 22px;
}