.experience__container {
    display: flex;
    justify-content: center;
}

.experience__content {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__content:hover {
    background: transparent;
    cursor: pointer;
    border: 1px solid var(--color-bg-variant);
}

.experience__container>div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 2rem;
}

.experience__detail  {
    display: flex;
    gap: 1rem;

}

.experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

/* ************** MEDIA QUERIES [MEDIUM DEVICES] ************ */

@media screen and (max-width: 1024px) {
    
}

/* ************** MEDIA QUERIES [SMALL DEVICES] ************ */

@media screen and (max-width: 600px) {
    .experience__container {
        align-items: center;
    }

    .experience__frontend {
        width: 100%;
        margin: 0 2rem;
    }
    
    .experience__content {
        width: 100%;
        padding: 2.5rem 2rem;
    }
}

/* ************** MEDIA QUERIES [SMALL DEVICES] ************ */

@media screen and (max-width: 380px) {
    .experience__container {
        width: 100%;
    }

    .experience__content {
        /* width: 0 auto; */
        padding: 2.5rem 2rem;
    }
}